
.bodyC {
    box-sizing: border-box;
    background-color: #f7f7f7;
    padding: 1rem;
    width: 550px;
    .header{
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
    }
    .title{
      padding-top: 16px;
      font-size: 16px;
      color: #606060;
      display: block;
    }
    .question{
      margin-top: 16px;
      font-size: 24px;
      font-weight: 700;
      color: #606060;
    }
    .footer{
      margin-top: 20px;
      font-size: 14px;
      color: #fff;
      background-color: #2ce6ce;
      display: inline-block;
    }
    .iconContainer{
      margin-top: 16px;
      img{
        height: 82px;
        width: 82px;
        margin-left: 6px;
        cursor: pointer;
      }
    }
}

.subtleButton {
  path {
    fill: var(--colorWaterloo);
  }
}
